
.searchbox form {
    display: flex;
    position: static;
    float: none;

}
.search-input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .form-control {
    width: 100%;
  }
  
  #button-search {
    float: right;
    margin-top: 0;
    border-radius: 5px;
  }