.product-card{
  text-align: center;
  transition: all 0.7s ease 0s;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border: 10px solid transparent;
  border-radius: 10px;
  border-color: blue;
}

.product-card:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.15),10px 10px rgba(0,0,0,0.05);
}

.card-image-page {
  max-width: auto;
  object-fit: contain;
  height: 20px;
}

#btn-cart {
  background: #A5BA8D;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100%;
  padding: 10px 26px;
  position: absolute;
  left: 0;
  bottom: -60px;
  transition: all 0.3s ease 0s;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(var(--card-height) / 3);
}

.text-shortener {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}